@model IEnumerable<PhoneBookApp.Models.Contact>
@{
}

<div class="container">
    <a href="/Contact/Add" class="btn btn-outline-warning">Add new contact</a>
</div>

<div class="container pt-10">
    <div>
        <h2>All contacts</h2>
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Mobile number</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Birthday</th>
                    <th>About</th>
                    <th>Country</th>
                    <th>Starting</th>
                    <th>Picture</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Number</td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                        <td>@item.BirthDay</td>
                        <td>@item.About</td>
                        <td>@item.CountryName</td>
                        <td>@item.StartingDate</td>
                        <td>
                            <img style="height:30px;width:40px" src="/ProfilePicture/@item.ProfilePicture" />
                        </td>

                        <td>
                            <a class="btn btn-outline-primary" href="/Contact/Update?id=@item.Id">Edit</a>
                            <a class="btn btn-outline-danger" onclick="return window.confirm('Are you sure')" href="/Contact/Delete?id=@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





